@{
    ViewBag.Title = "Contato";
}
<h2>Mirarmar o seu melhor lugar.</h2>
<h3></h3>

<address>
  <br> Grupo Miramar 
    Rua 1 de abril ,555 Rio de janeiro<br />
    <abbr title="Phone">P:</abbr>
    99999-9999
</address>

<address>
    <strong>gerente:</strong>   <a href="Tadeo:tgerencia@msn.com">tgerencia@msn.com</a><br />
    <strong>Vendas:</strong> <a href="lucas:Lvendas@msn.com">Lvendas@msn.com</a>
</address>