@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agencia de Viagens </h1>
    <p class="lead">Agencia de viagens Miramar o melhor lugar para estar.</p>
    <p><a href="https://www.melhoresdestinos.com.br" class="btn btn-primary btn-lg">Melhores lugares &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Melhores promocoes para viagens de carro, reserve Logo seu hotel e nao fique sem quarto!!!!
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>As viagens mais confortaveis de avioes que exite na face da terra , consulte nossos vendedores.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>O importante e fazewr vc feliz.</p>
        
    </div>
</div>